fastapi[standard]>=0.95.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.5
pytest>=7.3.1
pytest-asyncio>=0.21.0
python-jose>=3.3.0
pyjwt>=2.6.0
httpx>=0.24.0
pydantic_settings>=2.10.0
email-validator>=2.0.0
passlib[bcrypt]>=1.7.4
faker>=18.10.1
alembic>=1.10.0